.banner-heading {
  position: absolute;
  z-index: 999;
  display: flex;
  top: 0;
  align-items: center;
  /* height: 90%; */
  width: 100%;
  justify-content: center;
}
.banner-heading h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #C5705D;
  padding: 20px 50px;
  visibility: visible;
  animation-delay: 0.4s;
  font-size: 54px;
  font-weight: 600;
  border-radius: 8px;
}

.banner-image:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: inline-block;
  opacity: 0.9;
  background-image: linear-gradient(90deg, #000 0%, rgba(255, 255, 255, 0) 100%);
}
.banner-image {
  position: relative;
  overflow: hidden;
}

.banner img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.banner-stick {
  position: absolute;
  bottom: 5%;
  left: 0%;
  z-index: 1;
  padding: 1rem;
  width: 25%;
}

.banner-stick-box {
  color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.banner-stick-card {
  background-color: rgba(73, 73, 73, 0.24);
  border-radius: 8px;
  color: white;
  padding: 1rem 2rem;
  border: 1px dashed #C5705D;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 3/1;
}

.banner-stick-box h2 {
  /* margin-bottom: 1rem; */
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #C5705D;
}
.banner-stick-box p span {
  font-size: 35px;
  font-weight: 500;
  color: #C5705D;
}

@media (min-width: 990px) {
  .banner-bottom {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 990px) {
  .banner img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .banner-stick-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .banner-stick-box h2 {
    font-size: 20px;
  }
  .banner-stick-box p span {
    font-size: 25px;
  }

  .banner-stick {
    background-color: black;
    position: relative;
    left: 0;
    z-index: 1;
  }

  .banner-stick-box {
    padding: 1rem;
  }
}
@media only screen and (max-width: 680px) {
  .banner img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}
