.Plans {
  padding: 6rem 0rem;
  width: 100%;
  background-color: #c5705d;
}

.Plans-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.Plans-main h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}
.plans-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.Plans-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  z-index: 1;
  filter: blur(2px) brightness(50%);
}

.plans-card {
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 3/2;
  position: relative;
  
}
.plans-card-title {
  text-align: center;
  position: relative;
  z-index: 2;
}
.plans-card-title p {
  color: white;
  margin-top: 1rem;
}
.plans-card-title p span {
  color: #e6b16a;
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 500;
}

.plan-card-btn p {
  background-color: #c5705d;
  margin: 0;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .Plans-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 680px) {
  .plans-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
