.aboutUs {
  padding: 3rem 0rem;
  width: 100%;
  background-color: #fafafa;
}

.about-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.about-left {
  width: 60%;
}

.about-title {
  text-align: start;
  margin-bottom: 1rem;
}

.about-detail h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: black;
  padding-bottom: 20px;
}
.about-detail p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: black;
  padding-bottom: 20px;
}

.about-right {
  width: 40%;
}

.about-right img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  /* rotate: 90deg; */
}

.about-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.about-button a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.about-button a {
  padding: 10px;
  background: #3C552D;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 8px;
}

.about-button a p {
  z-index: 1;
  color: white;
  margin: 0;
  font-size: 20px;
}

/* .about-button a::before {
  content: "";
  position: absolute;
  width: 100%;
  background-image: linear-gradient(180deg, #ffb000, #ffb000);
  height: 50%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
} */

.about-detail-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.about-detail-box h5 {
  margin-top: 10px;
}
.about-detail-box span {
  color: #3C552D;
}

.about-card {
  background-color: #ddecd5;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  
}
.about-card2 {
  background-color: #f1f1f1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.about-button a::after {
  content: "";
  position: absolute;
  background: #3C552D;
  inset: 5px;
  border-radius: 8px;
}
.about-button a:hover:before {
  background-image: linear-gradient(180deg, gold, gold);
  animation: rotBGimg 3.5s linear infinite;
}

@media (min-width: 1200px) {
  .about-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 990px) {
  .about-main {
    max-width: 720px;
  }
}
@media only screen and (max-width: 680px) {
  .about-items {
    flex-wrap: wrap;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .about-title h4 {
    margin-top: 20px;
    font-size: 14px;
    line-height: 0px;
  }

  .about-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-main {
    max-width: 520px;
  }

  .about-button a {
    width: 100%;
    text-align: center;
  }
}
