.form button {
  width: 100%;
  background-color: #C5705D;
  border: none;
  transition: .3s ease-in-out;
  padding: 15px 0px;
}
.form button:hover {
  background-color: #C5705D;
  color: black;
}
.form .form-control {
  font-size: 13px;
}
.form textarea {
  min-height: 120px;
  resize: vertical;
}

